.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.input-label.active {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #555;
  background-color: #fff;
  padding: 0 5px;
}

#submit {
  padding: 10px 20px;
  background-color: rgba(45, 130, 102, 0.847);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: rgba(5, 104, 71, 0.847);
}
