.account-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #423d3d;
  color: #f6f6f6;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #ccc;
  transition: background-color 0.3s ease;
}

.account-link:hover {
  background-color: #e0e0e0;
}

.small-image {
  max-width:500px;
  height: auto;
  display: inline-block;
  margin-top: 300px; /* Adjust this value to increase or decrease the margin */
}
