/* .form-header {
  margin-bottom: 30px;
  text-align: center;
}

.aligned-credentials {
  display: flex;
  justify-content: center;
}

.email-box-space {
  margin-right: 10px; 
}

.password-box-space {
  margin-left: 10px; 
}

.aligned-names {
  display: flex;
  justify-content: center;
}

.name-box-space {
  margin-right: 10px; 
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(5, 104, 71, 0.847);
  border-radius: 10px; 
  padding: 20px;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

form {
  position: relative; 
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.Member-redirect {
  text-align: center;
  margin-top: 20px;
}

.Member-redirect input[type="submit"] {
  background-color: #053807;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.Member-redirect input[type="submit"]:hover {
  background-color: #45a049;
}
 */
